for item in course_list
  
  h3= 'CourseId:'+item.id
  h3= 'Course name:'+item.name
  p=  'Course Start date:'+item.start_date
  p=  'Course End date:'+item.end_date
br
h3
  a(href='/reg_course') Register Course
