extends layout

block content
  p 
  ol
    li Students can register or delete any course before the start date
    li Course details can be viewed
  a(href='/stud_list')   Student report | 
  a(href='/course_list')  Course details |
  a(href='/stud_delete')  Delete a course |
  a(href='/status')  Course Status
  
  
